.nav-ul li{
  display: inline-block;
  padding: 10px;
  margin: 0;
  background-color: skyblue;
  font-size: large;
}

.nav-ul{
  padding: 10px;
  margin: 0;
  background-color: skyblue;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-decoration: none;
}

.nav-ul li a{
  color: white;
  text-decoration: none;
}

.product-list{
  text-align: center;
  margin-top: 50px;
  height: 200vh;
}
.product-list ul {
  margin: 0;
}
.product-list ul li {
  display: inline-block;
  border: 1px solid skyblue;
  padding: 5px;
  width: 150px;
}